/* 
* @Author: anchen
* @Date:   2017-02-14 18:47:44
* @Last Modified by:   anchen
* @Last Modified time: 2017-02-14 18:56:12
*/
#main{position: relative;}
.box {padding: 15px 0 0 15px;float: left;}
.pic {padding: 10px; border: 1px solid #ccc; border-radius: 5px;box-shadow: 0 0 5px #ccc; }
img {width: 165px;}


